{% extends "weather/layout.html" %} {% block body %} {% if message %}
<div class="alert alert-warning" role="alert" style="top: 5rem; width: 100%; text-align:center">
  {{ message }}
</div>
{% endif %}

<div class="tab-content d-flex justify-content-center flex-column align-items-center" style="margin-top: 10rem">
  <h2>Login</h2>
  <div
    class="w-50"
    id="pills-login"
    role="tabpanel"
    aria-labelledby="tab-login"
  >
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}

      <div class="form-outline mb-4">
        <input
          name="username"
          type="text"
          id="loginName"
          class="form-control"
        />
        <label class="form-label" for="loginName">Email or username</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input
          name="password"
          type="password"
          id="loginPassword"
          class="form-control"
        />
        <label class="form-label" for="loginPassword">Password</label>
      </div>
      <div class="d-flex justify-content-center flex-column align-items-center">
        <input class="btn btn-primary w-50" type="submit" value="Login" />
        <span>Don't have an account? <a href="{% url 'register' %}">Register here.</a></span>
      </div>
    </form>
  </div>
</div>

{% endblock %}
